<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.springcloud.dao.PaymentMapper">
    <!--根据客户编码获取客户信息
    id:select元素在映射文件中的唯一标识
    parameterType:传入参数的类型
    resultType:返回结果的类型
-->
    <insert id="create" parameterType="com.springcloud.entity.Payment">
        insert into payment(serial) values (#{serial})
    </insert>
    <resultMap id="baseMap" type="com.springcloud.entity.Payment">
        <id property="id" column="id"></id>
        <result property="serial" column="serial"></result>
    </resultMap>
    <select id="getPaymentById" parameterType="long" resultMap="baseMap">
        select * from payment where id=#{id}
    </select>
</mapper>